@import "tailwindcss";

@font-face {
  font-family: "Germania";
  src:
    url("/public/Germania.woff2") format("woff2"),
    url("/public/Germania.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
